<div class="container">
  <% page.posts.forEach(function(post){ %>
    <div class="post-list-box">
      <% if(post.img !=undefined) { %>
        <div class="post-list-img-box">
          <img class="post-list-img lazyload" data-src="<%- url_for(post.img) %>">
        </div>
      <% } %>
      <div class="post-list" onclick="window.location.href ='<%- url_for(post.path) %>'">
        <div class="post-date">
          <span><%- post.date.format(config.date_format) %></span>
        </div>
        <div class="post-title">
          <%- post.title %>
        </div>
        <div class="page-excerpt">
          <%- post.excerpt %>
        </div>
        <div class="post-list-footer">
<!--           <div class="read-more-button">
            <a href="<%- url_for(post.path) %>">阅读全文</a>
          </div> -->
        </div>
        <%- list_tags(post.tags, {
          show_count: false,
          class: 'article-tag'
        }) %>
      </div>
    </div>
  <% }); %>  
</div>